#bodyWraper {
  width:780px;
  text-align:left;
  margin:0 auto;
//background-color:#ffc040;
//  background-color:#96db46;
  margin-top:20px;
  margin-bottom:20px;
  border:solid 1px black;
  text-align:center;
}

#word404 { 
  font-weight: bold;
  font-size: 2000%;
  margin: 20px 50px;
 // border:solid 10px black;
}

#wordSorry { 
  font-size: 400%;
  margin-top:-50px;
  margin-bottom:50px;
}
