#bodyWraper {
  width:780px;
  text-align:left;
  margin:0 auto;
  background-color:#9400d3;
//  background-color:#80c835;
  margin-top:20px;
  margin-bottom:20px;
  border:solid 1px black;
  text-align:center;
  color: #191970;
}

#word404 { 
  font-weight: bold;
  font-size: 2000%;
  //color: #191970;
  margin: 20px 50px;
 // border:solid 10px black;
 text-shadow: 10px -10px 15px #000;
}

#wordSorry { 
  font-size: 400%;
  margin-top:-50px;
  margin-bottom:50px;
}
